* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
  box-shadow: none;
  background: transparent;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  color: #000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
body {
  font-family: $fontFamily;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: $fontFamily;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  outline: inherit !important;
  box-shadow: none !important;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  box-shadow: none;
  background: transparent;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
}
ol,
ul,
dl,
p,
hr {
  margin: 0;
  padding: 0;
}

.modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
  &-backdrop {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  &-dialog {
    margin: 0;
    max-width: 100%;
  }
  &-header,
  &-footer {
    display: none;
  }
  &-body {
    padding: 0 !important;
  }
  &-content {
    width: auto !important;
    background: transparent;
    border: none;
    box-shadow: none;
  }
}
