@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    color: #22232C;
}